*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Cormorant Upright";
}

body{
	height: 100vh;
	width: 100%;
}

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: #ffffffbf;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	z-index: 999;
	position: sticky;
	top: 0;
	left:  0;
}

#navbar {
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar li {
	list-style: none;
	padding: 0 20px;
	position: relative;
}

#navbar li a {
	text-decoration: none;
	font-size: 26px;
	font-weight: 600;
	color: #1a1a1a;
	transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
	color: #cfa45a;
}

#navbar li a.active::after, 
#navbar li a:hover::after {
	content: "";
	width: 30%;
	height: 2px;
	background: #cfa45a;
	position: absolute;
	bottom: -3px;
	left: 20px;
}

.login-btn{
	display: inline-block;
	text-decoration: none;
	padding: 15px 40px;
	color:#1a1a1a;
	background-image: linear-gradient(50deg, rgb(255, 243, 221), #cb80a2);
	font-size: 18px;
	border-radius: 25px;
	border-top-right-radius: 3px;
	transition: 0.5s;
}

.login-btn:hover{
	border-top-right-radius: 25px;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content:"";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/7.jpg") no-repeat center;
	background-size: cover;
	filter: blur(10px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    border-radius: 40px;
}

.left{
	background: url("img/s2.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #895cb8;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #7e0c67d4;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
    border-radius: 15px;
}

.btn:hover{
    background-color: #c04545;
}

.field:focus{
    border: 2px solid rgba(41, 82, 204, 0.47);
    background-color: #fff;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 80px;
    background-color: #ffffff;

  }
  
  .container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .wrapper .footer-widget {
    width: calc(20% - 30px);
    margin: 0 15px 50px;
    padding: 0 12px;
  }
  
  .wrapper .footer-widget:nth-child(1) {
    width: calc(40% - 50px);
    margin-right: 15px;
  }
  
  .wrapper .footer-widget .logo {
    margin-bottom: 30px;
    vertical-align: middle;
  }
  
  .wrapper .footer-widget p {
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 24px;
  }
  
  .wrapper .footer-widget .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .wrapper .footer-widget .socials li {
    list-style: none;
  }
  
  .wrapper .footer-widget .socials li a {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: #ffffff;
    background-color: rgba(183, 153, 108, 0.642);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
  }
  
  .wrapper .footer-widget .socials li a:hover {
    background-color: #6b34d2;
  }
  
  .wrapper .footer-widget h6 {
    color: #585978;
    margin: 10px 0 35px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .wrapper .footer-widget .links li {
    list-style: none;
  }
  
  .wrapper .footer-widget .links li a {
    color: #585978;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 32px;
    transition: all 0.3s ease-out;
  }
  
  .wrapper .footer-widget .links li a:hover {
    color: #cfa45a;
  }
  
  .copyright {
    border-top: 1px solid rgba(88, 89, 120, 0.4);
  }
  
  .copyright p {
    color: rgba(88, 89, 120, 0.6);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  
  .copyright p a {
    color: #6b34d2;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-out;
  }
  
  .copyright p a:hover {
    color: #cfa45a;
  }
  


