
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Upright";
  }
  
  html {
    scroll-behavior: smooth;
  }
  
/* --------------------------------------------- Header and Nav Bar---------------------------------------------*/
  #header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 80px;
      background: #ffffffbf;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
      z-index: 999;
      position: sticky;
      top: 0;
      left:  0;
  }
  
  #navbar {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  #navbar li {
      list-style: none;
      padding: 0 20px;
      position: relative;
  }
  
  #navbar li a {
      text-decoration: none;
      font-size: 26px;
      font-weight: 600;
      color: #1a1a1a;
      transition: 0.3s ease;
  }
  
  #navbar li a:hover,
  #navbar li a.active {
      color: #cfa45a;
  }
  
  #navbar li a.active::after, 
  #navbar li a:hover::after {
      content: "";
      width: 30%;
      height: 2px;
      background: #cfa45a;
      position: absolute;
      bottom: -3px;
      left: 20px;
  }
  
  .login-btn{
      display: inline-block;
      text-decoration: none;
      padding: 15px 40px;
      color:#1a1a1a;
      background-image: linear-gradient(50deg, rgb(255, 243, 221), #cb80a2);
      font-size: 18px;
      border-radius: 25px;
      border-top-right-radius: 3px;
      transition: 0.5s;
  }
  
  .login-btn:hover{
      border-top-right-radius: 25px;
  }
  
 /*  ------------------------------------------------Header and Nav Bar Ends --------------------------------------------*/


/*---------------------------------------------------Body With Animation Part----------------------------------------------- */

  body{
      width: 100%;
      min-height: 10vh;
      background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("img/1.jpg");
      background-position: center;
      background-size: cover;
  }
  
  .content{
      margin-top: 14%;
      max-width: 650px;
      margin-left: 7%;
      margin-bottom: 300px;
  }
  
  .content h1{
      font-size: 55px;
      line-height: 60px;
      color: #222;
      margin-bottom: 30px;
  }
  
  .content p{
      margin:10px 0 15px;
      font-size: 23px;
      color: #333;
      animation-delay: 0.5s;
  }
  
  .content .login-btn{ 
      padding: 7px 20px;
      font-size: 27px;
      animation-delay: 1s;
      margin-bottom: auto;
  }
  
  .feature-img {
      width: 500px;
      position: absolute;
      bottom: 0;
      right: 2%;
  }
  
  .feature-img.anime {
      animation-delay: 1.5s;
  }
  
.anime {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.6s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* ------------------------------------------------End of Body With Animation Part ---------------------------------------------*/

/* --------------------------------------------------------Footer Part---------------------------------------------------------- */

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 80px;
    background-color: #ffffff;

  }
  
  .container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .wrapper .footer-widget {
    width: calc(20% - 30px);
    margin: 0 15px 50px;
    padding: 0 12px;
  }
  
  .wrapper .footer-widget:nth-child(1) {
    width: calc(40% - 50px);
    margin-right: 15px;
  }
  
  .wrapper .footer-widget .logo {
    margin-bottom: 30px;
    vertical-align: middle;
  }
  
  .wrapper .footer-widget p {
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 24px;
  }
  
  .wrapper .footer-widget .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .wrapper .footer-widget .socials li {
    list-style: none;
  }
  
  .wrapper .footer-widget .socials li a {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: #ffffff;
    background-color: rgba(183, 153, 108, 0.642);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
  }
  
  .wrapper .footer-widget .socials li a:hover {
    background-color: #6b34d2;
  }
  
  .wrapper .footer-widget h6 {
    color: #585978;
    margin: 10px 0 35px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .wrapper .footer-widget .links li {
    list-style: none;
  }
  
  .wrapper .footer-widget .links li a {
    color: #585978;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 32px;
    transition: all 0.3s ease-out;
  }
  
  .wrapper .footer-widget .links li a:hover {
    color: #cfa45a;
  }
  
  .copyright {
    padding: 20px 0;
    border-top: 1px solid rgba(88, 89, 120, 0.4);
  }
  
  .copyright p {
    color: rgba(88, 89, 120, 0.6);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  
  .copyright p a {
    color: #6b34d2;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-out;
  }
  
  .copyright p a:hover {
    color: #cfa45a;
  }
  


/*   --------------------------------------------------------End of Footer Part ----------------------------------------------------------*/